bin/
.DS_Store
bitrise-build-cache-cli
.bitrise.secrets.yml
dist/
_tmp/
.idea/*
!.idea/codeStyles
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
gradle_verification_sample/gradle/verification-metadata.xml
xcelerate/xcelerate
